@font-face {
    font-family: 'shark';
    src: url('../components/fonts/HEAVYRUST.otf') format('opentype'), url('../components/fonts/HEAVYRUST.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsblack';
    src: url('../components/fonts/poppins-black-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'poppinsbold';
    src: url('../components/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'poppinslight';
    src: url('../components/fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'poppinsmedium';
    src: url('../components/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'poppinsregular';
    src: url('../components/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'poppinssemibold';
    src: url('../components/fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
     font-family: 'GT Walsheim Pro';
     src: url('../components/fonts/GTWalsheimPro-Light.eot')
            url('../components/fonts/GTWalsheimPro-Light.eot?#iefix') format('embedded-opentype'),
            url('../components/fonts/GTWalsheimPro-Light.woff2') format('woff2'),
            url('../components/fonts/GTWalsheimPro-Light.woff') format('woff'),
            url('../components/fonts/GTWalsheimPro-Light.ttf') format('truetype');
     font-weight: 300;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro';
     src: url('../components/fonts/GTWalsheimPro-Regular.eot');
     src: local('GT Walsheim Pro Regular'), local('GTWalsheimPro-Regular'),
         url('../components/fonts/GTWalsheimPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-Regular.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-Regular.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro';
     src: url('../components/fonts/GTWalsheimPro-ThinOblique.eot');
     src: local('GT Walsheim Pro Thin Oblique'), local('GTWalsheimPro-ThinOblique'),
         url('../components/fonts/GTWalsheimPro-ThinOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-ThinOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-ThinOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-ThinOblique.ttf') format('truetype');
     font-weight: 100;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro';
     src: url('../components/fonts/GTWalsheimPro-Thin.eot');
     src: local('../components/fonts/GT Walsheim Pro Thin'), local('../components/fonts/GTWalsheimPro-Thin'),
         url('../components/fonts/GTWalsheimPro-Thin.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-Thin.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-Thin.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-Thin.ttf') format('truetype');
     font-weight: 100;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro';
     src: url('../components/fonts/GTWalsheimPro-BoldOblique.eot');
     src: local('GT Walsheim Pro Bold Oblique'), local('GTWalsheimPro-BoldOblique'),
         url('../components/fonts/GTWalsheimPro-BoldOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-BoldOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-BoldOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-BoldOblique.ttf') format('truetype');
     font-weight: bold;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Ultra';
     src: url('../components/fonts/GTWalsheimPro-UltraBold.eot');
     src: local('GT Walsheim Pro Ultra Bold'), local('GTWalsheimPro-UltraBold'),
         url('../components/fonts/GTWalsheimPro-UltraBold.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-UltraBold.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-UltraBold.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-UltraBold.ttf') format('truetype');
     font-weight: 800;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Ultra';
     src: url('../components/fonts/GTWalsheimPro-UltraBoldOblique.eot');
     src: local('GT Walsheim Pro Ultra Bold Oblique'), local('GTWalsheimPro-UltraBoldOblique'),
         url('../components/fonts/GTWalsheimPro-UltraBoldOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-UltraBoldOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-UltraBoldOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-UltraBoldOblique.ttf') format('truetype');
     font-weight: 800;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro';
     src: url('../components/fonts/GTWalsheimPro-MediumOblique.eot');
     src: local('GT Walsheim Pro Medium Oblique'), local('GTWalsheimPro-MediumOblique'),
         url('../components/fonts/GTWalsheimPro-MediumOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-MediumOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-MediumOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-MediumOblique.ttf') format('truetype');
     font-weight: 500;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro';
     src: url('../components/fonts/GTWalsheimPro-Bold.eot');
     src: local('GT Walsheim Pro Bold'), local('GTWalsheimPro-Bold'),
         url('../components/fonts/GTWalsheimPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-Bold.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-Bold.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-Bold.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro';
     src: url('../components/fonts/GTWalsheimPro-Medium.eot');
     src: local('GT Walsheim Pro Medium'), local('GTWalsheimPro-Medium'),
         url('../components/fonts/GTWalsheimPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-Medium.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-Medium.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-Medium.ttf') format('truetype');
     font-weight: 500;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro';
     src: url('../components/fonts/GTWalsheimPro-RegularOblique.eot');
     src: local('GT Walsheim Pro Regular Oblique'), local('GTWalsheimPro-RegularOblique'),
         url('../components/fonts/GTWalsheimPro-RegularOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-RegularOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-RegularOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-RegularOblique.ttf') format('truetype');
     font-weight: normal;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro';
     src: url('../components/fonts/GTWalsheimPro-LightOblique.eot');
     src: local('GT Walsheim Pro Light Oblique'), local('GTWalsheimPro-LightOblique'),
         url('../components/fonts/GTWalsheimPro-LightOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-LightOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-LightOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-LightOblique.ttf') format('truetype');
     font-weight: 300;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Ultra';
     src: url('../components/fonts/GTWalsheimPro-UltraLight.eot');
     src: local('GT Walsheim Pro Ultra Light'), local('GTWalsheimPro-UltraLight'),
         url('../components/fonts/GTWalsheimPro-UltraLight.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-UltraLight.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-UltraLight.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-UltraLight.ttf') format('truetype');
     font-weight: 200;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Ultra';
     src: url('../components/fonts/GTWalsheimPro-UltraLightOblique.eot');
     src: local('GT Walsheim Pro Ultra Light Oblique'), local('GTWalsheimPro-UltraLightOblique'),
         url('../components/fonts/GTWalsheimPro-UltraLightOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-UltraLightOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-UltraLightOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-UltraLightOblique.ttf') format('truetype');
     font-weight: 200;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro';
     src: url('../components/fonts/GTWalsheimPro-BlackOblique.eot');
     src: local('GT Walsheim Pro Black Oblique'), local('GTWalsheimPro-BlackOblique'),
         url('../components/fonts/GTWalsheimPro-BlackOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-BlackOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-BlackOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-BlackOblique.ttf') format('truetype');
     font-weight: 900;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro';
     src: url('../components/fonts/GTWalsheimPro-Black.eot');
     src: local('GT Walsheim Pro Black'), local('GTWalsheimPro-Black'),
         url('../components/fonts/GTWalsheimPro-Black.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-Black.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-Black.woff') format('woff'),
         url('../components/fonts/TWalsheimPro-Black.ttf') format('truetype');
     font-weight: 900;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Cond Ultra';
     src: url('../components/fonts/GTWalsheimPro-CondensedUltraBold.eot');
     src: local('GT Walsheim Pro Condensed Ultra Bold'), local('GTWalsheimPro-CondensedUltraBold'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraBold.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraBold.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraBold.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraBold.ttf') format('truetype');
     font-weight: 800;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Condensed';
     src: url('../components/fonts/GTWalsheimPro-CondensedLight.eot');
     src: local('GT Walsheim Pro Condensed Light'), local('GTWalsheimPro-CondensedLight'),
         url('../components/fonts/GTWalsheimPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedLight.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedLight.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedLight.ttf') format('truetype');
     font-weight: 300;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Condensed';
     src: url('../components/fonts/GTWalsheimPro-CondensedBoldOblique.eot');
     src: local('GT Walsheim Pro Condensed Bold Oblique'), local('GTWalsheimPro-CondensedBoldOblique'),
         url('../components/fonts/GTWalsheimPro-CondensedBoldOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedBoldOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedBoldOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedBoldOblique.ttf') format('truetype');
     font-weight: bold;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Condensed';
     src: url('../components/fonts/GTWalsheimPro-CondensedLightOblique.eot');
     src: local('GT Walsheim Pro Condensed Light Oblique'), local('GTWalsheimPro-CondensedLightOblique'),
         url('../components/fonts/GTWalsheimPro-CondensedLightOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedLightOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedLightOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedLightOblique.ttf') format('truetype');
     font-weight: 300;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Condensed';
     src: url('../components/fonts/GTWalsheimPro-CondensedThin.eot');
     src: local('GT Walsheim Pro Condensed Thin'), local('GTWalsheimPro-CondensedThin'),
         url('../components/fonts/GTWalsheimPro-CondensedThin.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedThin.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedThin.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedThin.ttf') format('truetype');
     font-weight: 100;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GTWalsheimPro-CondensedULightIt';
     src: url('../components/fonts/GTWalsheimPro-CondensedUltraLightOblique.eot');
     src: local('GT Walsheim Pro Condensed Ultra Light Oblique'), local('GTWalsheimPro-CondensedUltraLightOblique'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraLightOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/TWalsheimPro-CondensedUltraLightOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraLightOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraLightOblique.ttf') format('truetype');
     font-weight: 200;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Cond';
     src: url('../components/fonts/GTWalsheimPro-CondensedMedium.eot');
     src: local('GT Walsheim Pro Condensed Medium'), local('GTWalsheimPro-CondensedMedium'),
         url('../components/fonts/GTWalsheimPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedMedium.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedMedium.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedMedium.ttf') format('truetype');
     font-weight: 500;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Condensed';
     src: url('../components/fonts/GTWalsheimPro-CondensedBlackOblique.eot');
     src: local('GT Walsheim Pro Condensed Black Oblique'), local('GTWalsheimPro-CondensedBlackOblique'),
         url('../components/fonts/GTWalsheimPro-CondensedBlackOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedBlackOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedBlackOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedBlackOblique.ttf') format('truetype');
     font-weight: 900;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Condensed';
     src: url('../components/fonts/GTWalsheimPro-CondensedRegular.eot');
     src: local('GT Walsheim Pro Condensed Regular'), local('GTWalsheimPro-CondensedRegular'),
         url('../components/fonts/GTWalsheimPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedRegular.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedRegular.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedRegular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Condensed';
     src: url('../components/fonts/GTWalsheimPro-CondensedThinOblique.eot');
     src: local('GT Walsheim Pro Condensed Thin Oblique'), local('GTWalsheimPro-CondensedThinOblique'),
         url('../components/fonts/TWalsheimPro-CondensedThinOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedThinOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedThinOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedThinOblique.ttf') format('truetype');
     font-weight: 100;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Condensed';
     src: url('../components/fonts/GTWalsheimPro-CondensedBold.eot');
     src: local('GT Walsheim Pro Condensed Bold'), local('GTWalsheimPro-CondensedBold'),
         url('../components/fonts/GTWalsheimPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedBold.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedBold.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedBold.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Condensed';
     src: url('../components/fonts/GTWalsheimPro-CondensedRegularOblique.eot');
     src: local('GT Walsheim Pro Condensed Regular Oblique'), local('GTWalsheimPro-CondensedRegularOblique'),
         url('../components/fonts/GTWalsheimPro-CondensedRegularOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedRegularOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedRegularOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedRegularOblique.ttf') format('truetype');
     font-weight: normal;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GTWalsheimPro-CondensedULight';
     src: url('../components/fonts/GTWalsheimPro-CondensedUltraLight.eot');
     src: local('GT Walsheim Pro Condensed Ultra Light'), local('GTWalsheimPro-CondensedUltraLight'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraLight.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraLight.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraLight.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraLight.ttf') format('truetype');
     font-weight: 200;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Cond Ultra';
     src: url('../components/fonts/GTWalsheimPro-CondensedUltraBoldOblique.eot');
     src: local('GT Walsheim Pro Condensed Ultra Bold Oblique'), local('GTWalsheimPro-CondensedUltraBoldOblique'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraBoldOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraBoldOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraBoldOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedUltraBoldOblique.ttf') format('truetype');
     font-weight: 800;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Cond';
     src: url('../components/fonts/GTWalsheimPro-CondensedMediumOblique.eot');
     src: local('GT Walsheim Pro Condensed Medium Oblique'), local('GTWalsheimPro-CondensedMediumOblique'),
         url('../components/fonts/GTWalsheimPro-CondensedMediumOblique.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedMediumOblique.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedMediumOblique.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedMediumOblique.ttf') format('truetype');
     font-weight: 500;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'GT Walsheim Pro Condensed';
     src: url('../components/fonts/GTWalsheimPro-CondensedBlack.eot');
     src: local('GT Walsheim Pro Condensed Black'), local('GTWalsheimPro-CondensedBlack'),
         url('../components/fonts/GTWalsheimPro-CondensedBlack.eot?#iefix') format('embedded-opentype'),
         url('../components/fonts/GTWalsheimPro-CondensedBlack.woff2') format('woff2'),
         url('../components/fonts/GTWalsheimPro-CondensedBlack.woff') format('woff'),
         url('../components/fonts/GTWalsheimPro-CondensedBlack.ttf') format('truetype');
     font-weight: 900;
     font-style: normal;
 }
 
 @font-face {
    font-family: 'GT America Standard';
    src: url('https://uploads-ssl.webflow.com/5f04dd60cf344a1e1952a8e5/60884aabe5cebf379ef13c05_GT-America-Standard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Standard';
    src: url('https://uploads-ssl.webflow.com/5f04dd60cf344a1e1952a8e5/636d821093894cd0c025a8d6_GT-America-Standard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Standard';
    src: url('https://uploads-ssl.webflow.com/5f04dd60cf344a1e1952a8e5/5f320dd0e19ed9ab79db485b_GT-America-Standard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('https://uploads-ssl.webflow.com/5f04dd60cf344a1e1952a8e5/636d822b9b96f77e2dc1c544_GT-Walsheim-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}